#home{
  position: relative;
  min-height: 600px;
  max-height: 600px;
}
#home .sidebar{
  position: absolute;
  background-color: black;
  max-width: 250px;
  padding-right: 15px;
  z-index: 1050!important;
}
#home .sidebar .box{
  width: 250px;
}
#home .sidebar .header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #222;
  color: white;
}
#home .sidebar .header h2{
  font-size: 20px;
  margin: 15px;
}
#home .sidebar .content{
  position: fixed;
  top: 50px;
  bottom: 40px;
  left: 0;
  right: 0;
  background-color: #222;
  overflow: auto;
}
#home .sidebar .footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  padding: 10px 0px;
  background-color: #222;
  color: orange
}
#home .sidebarRoot{
  padding: 15px
}
#home .sidebarContent{
  overflow-y: hidden!important;
  padding-left: 15px;
}
#home .sidebarOverlay{
  z-index: 1040!important;
}

@media only screen and (max-width: 768px) {
  #home .sidebar{
    position: fixed!important;
    padding: 15px;
  }
}
/* animations */
#home .post-enter {
  opacity: 0.01;
}
#home .post-enter.post-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
#home .post-leave {
  opacity: 1;
}
#home .post-leave.post-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}